.btn{
  margin-bottom: 2rem;
  text-decoration: none;
  padding: .5rem 1rem;
  transition: .5s all linear;
  cursor: pointer;
  border: none;
  &-danger{
    background: $danger-color;
    color: #fff;
    &:hover{
      background: #fff;
      color: $danger-color;
      border: .1rem solid $danger-color;
    }
  }
}
