.search{
  display: flex;
  justify-content: center;
  margin-right: 5rem;
  padding-top: 8rem;
  &_input{
    padding: 1rem 3rem;
    @media screen and(max-width: 960px){
      width: 75%;
      margin-left: 5rem;
    }
  }
}
